
@layout('layout/auth/main')
@section('content')

<a href="/AudreySP/updatedbstart/1" class="btn btn-outline-primary">啟動</a>
{{--  <a href="/updatedbstart/2" class="btn btn-outline-primary">取消</a>  --}}
@endsection
