 @layout('layout/normalUser/main')
 @section('content')
  {{ script('https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')}}


<div class="embed-responsive embed-responsive-16by9" style="max-height:700px">
      <iframe class="embed-responsive-item" src="http://cdn.doublemax.net/dev/Jason/audrey/one.mp4" allowfullscreen></iframe>
</div>
    

@endsection 